*.swp
*.swo
compile.log
run/*
!run/*.sh
!run/*.f
!run/uart_signals.rc
simv*
csrc/
*.daidir/
*.log
*.vcd
*.fsdb
*.vpd
*.wlf
*.key
ucli.key
vc_hdrs.h
**/*.log
**/*.fsdb
**/*.vcd
**/*.vpd
**/*.wlf
**/*.key
**/*.rc
!run/uart_signals.rc
**/*.conf
**/novas*
**/verdiLog/
**/csrc/
**/simv*
**/*.daidir/
**/*_session.vim
