compile.log
run/
simv*
csrc/
*.daidir/
*.log
*.vcd
*.fsdb
*.vpd
*.wlf
*.key
ucli.key
vc_hdrs.h
**/*.log
**/*.fsdb
**/*.vcd
**/*.vpd
**/*.wlf
**/*.key
**/*.rc
**/*.conf
**/novas*
**/verdiLog/
**/csrc/
**/simv*
**/*.daidir/
**/*_session.vim
