; Signallist file for Verdi
; Restores all AXI, Register Block, and AES Core signals

addGroup "1. AXI4-Lite Interface"
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_aclk
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_aresetn
addSignal -h 15 -HEX /tb_aes_axi_top/dut/s_axi_awaddr[7:0]
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_awvalid
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_awready
addSignal -h 15 -HEX /tb_aes_axi_top/dut/s_axi_wdata[31:0]
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_wstrb[3:0]
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_wvalid
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_wready
addSignal -h 15 -HEX /tb_aes_axi_top/dut/s_axi_bresp[1:0]
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_bvalid
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_bready
addSignal -h 15 -HEX /tb_aes_axi_top/dut/s_axi_araddr[7:0]
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_arvalid
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_arready
addSignal -h 15 -HEX /tb_aes_axi_top/dut/s_axi_rdata[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/s_axi_rresp[1:0]
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_rvalid
addSignal -h 15 /tb_aes_axi_top/dut/s_axi_rready
addSignal -h 15 /tb_aes_axi_top/dut/irq

addGroup "2. Register Block & FSM"
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/state[2:0]
addSignal -h 15 /tb_aes_axi_top/dut/u_reg_block/ctrl_mode
addSignal -h 15 /tb_aes_axi_top/dut/u_reg_block/status_busy
addSignal -h 15 /tb_aes_axi_top/dut/u_reg_block/status_done
addSignal -h 15 /tb_aes_axi_top/dut/u_reg_block/status_key_ready
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/key_reg0[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/key_reg1[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/key_reg2[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/key_reg3[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/din_reg0[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/din_reg1[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/din_reg2[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/din_reg3[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/dout_reg0[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/dout_reg1[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/dout_reg2[31:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/u_reg_block/dout_reg3[31:0]

addGroup "3. AES Core 128-bit Interface"
addSignal -h 15 -HEX /tb_aes_axi_top/dut/aes_key[127:0]
addSignal -h 15 -HEX /tb_aes_axi_top/dut/aes_din[127:0]
addSignal -h 15 /tb_aes_axi_top/dut/enc_ld
addSignal -h 15 /tb_aes_axi_top/dut/enc_done
addSignal -h 15 -HEX /tb_aes_axi_top/dut/enc_dout[127:0]
addSignal -h 15 /tb_aes_axi_top/dut/dec_kld
addSignal -h 15 /tb_aes_axi_top/dut/dec_ld
addSignal -h 15 /tb_aes_axi_top/dut/dec_done
addSignal -h 15 -HEX /tb_aes_axi_top/dut/dec_dout[127:0]
